:root{
	--font-1: 'Open Sans', sans-serif;
	--font-2: 'Raleway', sans-serif;
}

#main-header{
	position: relative;
	background-image: url('images/kc-background.jpg');
	background-size: cover;
	height: 200px;	
}
#kc-header{
	position: absolute;
	bottom: 0;
    font-family: var(--font-1);
    color: red;
}
#logo{
	height: 46px;
    position: absolute;
    top: 0;
    left: 0;
}
#mission{
	margin: 2% 5%;
}
#carousel{
	width: 60%;
	margin: 0 20%;
}
#carousel-item{
	height: 150px;
}