:root{
	--font-1: 'Open Sans', sans-serif;
	--font-2: 'Raleway', sans-serif;
	--color-blue: #3F6672;
	--color-green: #8DAE3C;
	--color-lightgrey: #eee;
	--color-darkgrey: #ccc;
	--color-grey-black: rgb(100,100,100);
}
hr{
	width: 90%;
}
#main-header{
	position: relative;
	background-image: url('images/kc-background.jpg');
	background-size: cover;
	height: 200px;	
}
#kc-header{
	position: absolute;
    bottom: 34px;
    right: 12px;
    font-family: var(--font-1);
    font-size: 50px;
    color: rgb(20,20,20);
}
#header-mission{
	position: absolute;
    bottom: -5px;
    font-family: var(--font-1);
    font-size: 17px;
    color: var(--color-blue);
    font-style: italic;
    background-color: var(--color-darkgrey);
    width: 100%;
    text-align: right;
    padding-right: 12px;
}

#logo{
	height: 66px;
    position: absolute;
    top: 4px;
    left: 12px;
    z-index: 99;
}
#mission{
	margin: 5% 10% 5% 5%;
	font-size: 18px;
	font-family: var(--font-2);
}
nav{
	position: fixed;
}
.nav-link{
	font-family: var(--font-1);
	font-size: 22px;
	color: var(--color-blue);
	margin-left: 10%;
	margin-bottom: 27px !important;
	padding-top: 0 !important;
	width: 100%;
}
.nav-link:hover{
	color: var(--color-green);
}
.carousel-control-prev-icon, .carousel-control-next-icon{
	height: 79px !important;
	width: 79px !important;
}
.carousel-control-next, .carousel-control-prev{
	height: 275px;
	top: 38px;
}
.carousel-caption{
	background-color: rgba(20,20,20,.6);
	width: 100%;
	left: 0 !important;
	right:0 !important;
}

.carousel-link{
	color: white;
	text-decoration: underline;
	font-size: 18px;
}
.carousel-indicators{
	bottom: -7px !important;
}
.section-header{
	font-family: var(--font-1);
    font-size: 44px;
    color: rgb(20,20,20);
    margin-left: 5%;
}
#careers, #community, #programs{
	margin-bottom: 20px;
	margin-left: -24px;
}
.hiring-subheader{
	color: var(--color-blue);
    margin-bottom: 1px;
    margin-top: 23px;
    font-weight: 700;
}
.attention{
	color: red;
	font-style: italic;
}
.accord-header{
	color: var(--color-grey-black);
}

.accordion, .accordion-mini{
	background-color: var(--color-lightgrey);
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 95%;
    margin: 1% 5%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}
.accordion:after {
    content: '\02795';
    font-size: 13px;
    color: var(--color-darkgrey);
    float: right;
    margin-left: 5px;
}

.active:after {
    content: '\2796';
}

.accordion-mini{
	width: 250px;
	background-color: var(--color-green);    
	margin: 1% 0;
	height: 100%;
	height: 35px;
    padding: 0 0 0 18px;
}
.accordion-mini:after {
    content: '\02795';
    font-size: 13px;
    color: var(--color-darkgrey);
    float: right;
    margin-right: 13px;
    margin-top: 3px;
}
.active-mini:after {
    content: "\2796";
}
.active, .accordion:hover{
    background-color: var(--color-green);
    color: white;
}
.active-mini, .accordion-mini:hover{
	background-color: var(--color-blue);
	color: var(--color-lightgrey);

}
#rest-button{
	width: 200px;
}
.panel, .panel-mini{
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
    margin: 2% 5%;
    width: 90%;
}
.email-link{
	color: var(--color-green);
}
.address-list{
	list-style: none;
	margin-bottom: 1px;
}

#career-mission{
	margin: 3px 5% 12px 5%;
}
.career-video{
	margin: 5px 24%;
	display: none;
}
.video-button{
	background-color: inherit;
	border: none;
	color: var(--color-blue);
	cursor: pointer;
	text-decoration: underline;
	padding: 0;
}

.hide-button{
	margin-right: 39%;
    margin-left: 39%;
    width: 22%;
    color: var(--color-blue);
    border-radius: 6px;
    border: solid black 1px;
    background-color: var(--color-lightgrey);
}
#choose180{
	margin-left:-5px;
}
.rest-column{
	border: solid black 1px;
}
.rest-lists{
	list-style: none;
    margin-left: -42px;
}
.rest-img{
	margin-left: -9px;
	margin-top: 5px;
}

footer{
	background-color: var(--color-darkgrey);
	height: 100%;

}
#contact-header{
	padding-top: 15px;
	text-align: center;
	color: var(--color-lightgrey);
	font-family: var(--font-1);
}
#email-form{
	margin: 5% 20%;
}
#submit-button{
	width: 60%;
	margin: 0 20% 0 20%;
	border-radius: 5px;
	background-color: var(--color-blue);
	color: black;
	cursor: pointer;
}
input{
	margin-bottom: 15px !important;
}



